/* general page styles */
body {
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    color:#26003b;
}
header {
    background-color:#f77e1c;
}
#henryImage img {
    width: 250px;
}
#inputHead {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 50px;
    line-height: 1.5em;
    color: #26003b;
    font-size: 30px;
    margin: 0px;
}

h2 {
    margin-bottom: 30px;
    text-transform: lowercase;

}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 30px;
}

/* button styles */
#submit {
    color:#26003b;
    background-color: #f77e1c;
}
#again {
    background-color: #b863ff;
}
button {
    font-family: 'Bevan', cursive;
    background-color: #f77e1c;
    border: none;
    letter-spacing: 2px;
    border-radius: 10px;
    color:#26003b;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    margin: 10px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  
  button:hover span {
    padding-right: 25px;
    
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
    
  }

/* transition styles */
.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
/* story output */
#storyOutput {
    margin:50px 150px;
    line-height: 2em;
    font-size: 24px;
    color: #b863ff;
}

#outputHead {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 30px;
    font-size: 30px;
    margin: 0px;
}

#image {
    width: 550px;
    padding: 0px;
}
.specialValue {
    font-family: 'Bevan', cursive;
    letter-spacing: 5px;
    color: #f77e1c;
}

#spookyOrange, #spookyValue,  #halloweenValue{
    font-family: 'Creepster', cursive;
    letter-spacing: 5px;
}

#spookyValue {
    font-size: 26px;
    color:yellow;
}

#halloweenValue {
    font-size: 50px;
    color: #f77e1c;
    line-height: 70px;
}
